<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Cle Food Blog!</h1>
        <p>A journey thru the Cleveland food scene from a couple of people who really love cardamom bombs.</p>
        <!-- <div class="row">
          <div class="col-xs-6">
            <p><a class="btn btn-primary btn-lg btn-block" href="#" role="button" id="btnComingSoon">Vote: Food Fight</a></p>
          </div>
          <div class="col-xs-6">
            <p><a class="btn btn-success btn-lg btn-block" href="#" role="button" id="btnComingSoon">Go To: Brunch, Lunch, Dinner</a></p>
          </div>
        </div> -->
    </div>
</div>
